# other datasets
/datasets/*
/datasets/V1/*

# wandb logs
/notebooks/data_exploration_processing/wandb
/notebooks/modeling/wandb

# notebook checkpoints
.ipynb_checkpoints
/notebooks/data_exploration_processing/.ipynb_checkpoints
/notebooks/modeling/.ipynb_checkpoints

# model artifacts
/model-artifacts/*

# artifacts
/artifacts/*

# embeddings
/embeddings/*

/venv/*
/stackoverflow_quality.egg-info/*

/wandb/*
/wandb_artifacts/*
/logs/*

/stackoverflow_quality/__pycache__/*
/config/__pycache__/*
